<!doctype html>
<html ⚡="" lang="en">
    {{- partial "head.html" . -}}
    <body>

        {{- partial "header.html" . -}}
   
<br><br>
<a href="/" class="h5 ml2 nolink">Home</a> &gt; <span class="h5">Motorcycle Inventory</span>
<br>
<h1 class="h2 col-10 mx4 pb3 pt3">Motorcycle Inventory</h1>
<p class="col-10 mx3 pb1 pt1">Browse pre-owned motorcycles we have available for purchase. Please feel to contact us with any questions using your preferred method:</p>
<p class="h4 col-10 mx4 pt3 pb1">
<a href="tel:2609270533" class="ampstart-btn mb2 caps inline-block pb1 pt1 ">260.927.0533</a>
<a href="/contact" class="ampstart-btn caps inline-block mb2 pt1 pb1 ">Submit Message</a></p>

<section id="inventory" class="py4">
	<div class="mxn2 flex flex-wrap  ">
		{{ range .Paginator.Pages }}
		<div class="px2 col-12 sm-col-6 md-col-4  ">
			<h3 class="h4 col-10 mx4 pb3 pt3"><a href="{{ .URL }}" class="text-decoration-none">{{ .Title }}</a></h3>
			<a href="{{ .URL }}" class="col-10 mx3 pb1 pt1"><amp-img class="" src="{{ .Params.featured_image  | safeHTML }}" width="{{ .Params.featured_image_width  | safeHTML }}" height="{{ .Params.featured_image_height  | safeHTML }}" alt="{{ .Title }} Image" title="{{ .Title }}" layout="responsive">
			</amp-img></a><br><a href="{{ .URL }}" class="ampstart-btn caps inline-block mb2 pt1 pb1 ">View Motorcycle</a></p>
		</div>
		{{ end }}
	</div>
</section>

        {{- partial "footer.html" . -}}

    </body>
        {{- partial "amp-analytics.html" . -}}
</html>